*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}
:root {
    --bg-color: #111111;
    --bg-color2 : #f2ebe1;
    --second-bg-color: #3c6c34;
    --text-color: white;
    --text-color2: #060505;
    --main-color: #04fffb;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color2);
    color: var(--text-color);

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    text-decoration: none;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}

.navbar .nav-link .nav-links a{
    font-size: 5 rem;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}
.navbar ul {
    list-style: none;
    display: flex;
}

.navbar a:hover,
.navbar a.active{
    color: var(--bg-color2);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: auto;
    padding: 10rem 9% 10rem;
}
.home{
    display: flex;
    color: var(--text-color2);
}
.home-content{
    flex: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-top: 3rem;
   
}
span{
    color: var(--second-bg-color);
}
.logo span{
    color: var(--text-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img{
    display: grid;
    place-items: center;
    flex: 50%;
 
}
.home-img img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 1000px;
}
.social-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 0.2rem solid var(--bg-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--bg-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons i:hover{
    color: white;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 1rem 2rem;
    border: 2px solid var(--second-bg-color);
    border-radius: 10px;
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--text-color2);
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    background-color: var(--second-bg-color);
    color: wheat;
   
}

.text-head{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: 'Web Developer';
    color: var(--);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left : 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: 'Web Developer';
    }
    21%,
    40%{
        content: "Graphic Web";
    }
    41%,
    60%{
        content: "UI / UX Design";
    }
    61%,
    80%{
        content: "Software Engineer";
    }
    81%,
    100%{
        content:"HAIII";
    }

}

@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
    color: wheat;
    text-align: justify;
}

.about-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color2);
    color: var(--text-color2);
    text-align: justify;
}

.about h2 span{
    color: wheat;
    text-shadow: 0 0  50px var(--main-color);
}
.about-2 h2 span{
    color: var(--text-color2);
    text-shadow: 0 0  50px var(--main-color);
}

.about .about-head .about-content p{
    font-size: 14px;
}

@media screen and (max-width: 412px) {
    .home{
        display: grid;
    }
    .home-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 3rem;
        border: 2px solid tomato;
    }
    .home-img img{
        width: 200px;
        height: 200px;
        border: 50%;
        border-radius: 2px solid white ;
    }
    .btn{
        display: flex;
        justify-content: center;
        width: auto;
        padding: 1rem 2rem;
        border: 2px solid white;
        border-radius: 10px;
        font-size: 1rem;
        letter-spacing: 2px;
        color: white;
        font-weight: 600;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    .navbar ul li a{
        font-size: 12px;
        text-align: left;
        color: white;
        margin-left: 4rem;
        font-weight: 500;
        transition: 0.3s ease-in-out;
        border-bottom: 3px solid transparent;
    }
    .burger-menu {
        position: relative;
    }
    
    .burger-icon {
        cursor: pointer;
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .burger-icon div {
        width: 100%;
        height: 4px;
        background-color: #fff;
    }
    
    .navbar {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        background-color: var(--second-bg-color);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .navbar ul {
        padding: 0;
        margin: 0;
    }
    
    .navbar ul li {
        padding: 10px 20px;
    }
    
    .navbar ul li a {
        text-decoration: none;
        color: #333;
    }
    
    .burger-menu.active .navbar {
        display: grid;
    }

    .navbar ul li:hover{
        color: white;
        transform: scale(1.3)translateY(-5px);
        box-shadow: 0 0 25px var(--main-color);
        background-color: var(--main-color);
    }
    
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--second-bg-color);
        color: wheat;
        border: 2px solid red;
    }
    .about .about-head h3{
        text-align: left;
        font-size: 28px;

    }
}

